<div class="fleet">
  <div class="table">
    <div class="table-row">
      <div class="table-cell-header"></div>
      <div class="table-cell-header">1</div>
      <div class="table-cell-header">2</div>
      <div class="table-cell-header">3</div>
      <div class="table-cell-header">4</div>
      <div class="table-cell-header">5</div>
      <div class="table-cell-header">6</div>
      <div class="table-cell-header">7</div>
      <div class="table-cell-header">8</div>
      <div class="table-cell-header">9</div>
      <div class="table-cell-header">10</div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">A</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">B</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">C</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">D</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">E</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">F</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">G</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">H</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">I</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
    <div class="table-row">
      <div class="table-cell-header">J</div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
      <div class="table-cell-row"></div>
    </div>
  </div>
</div>
